@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: rgb(22, 23, 100);
}

header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-family: "Roboto", sans-serif;
  padding: 25px 20px 0 20px;
  margin: 0 20px 0 10px;
  line-height: 16px;
}

header .brand {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

a:hover,
a:focus,
a:visited {
  color: #fff;
}

header .menu {
  font-size: 25px;
  color: #fff;
}

header .menu:hover {
  color: rgb(124, 115, 251);
}

section .line {
  margin: auto;
  width: 85%;
  border: 1px solid #646369;
}

.home-section {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  height: auto;
  background: url(../images/Top_circles.png) top center no-repeat;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.home-section .part-one h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  padding: 10px;
  color: #7d73fc;
}

.home-section .part-one h2 {
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: 500;
  line-height: 44px;
  padding: 10px;
  color: #edecff;
}

.home-section .part-one p {
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 400;
  line-height: 28px;
  padding: 10px;
  color: #c8c8d4;
}

.home-section .part-two {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
  margin: 20px auto;
}

.home-section .part-two div {
  width: 50%;
}

.home-section .part-two h3 {
  color: #9490ff;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  margin: 5px;
}

.home-section .part-two ul {
  list-style: none;
  padding: 20px 0;
}

.home-section .part-two li {
  color: #f5f5ff;
  line-height: 24px;
  font-size: 15px;
  font-weight: 400;
  padding: 5px 10px;
}

.home-section .part-three {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 40px;
}

.home-section .part-three .social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  list-style: none;
  color: #fff;
  margin: 20px 10px;
}

.home-section .part-three .work {
  color: #a2a3ae;
}

.home-section .part-three .work i {
  color: #a2a3ae;
  width: 20px;
  height: 30px;
}

.home-section .part-three .work span {
  color: #a2a3ae;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
}

.middle-section {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 2;
  width: 100%;
  padding: 0 20px 0 20px;
  margin: auto;
  background: url(../images/bg-middle.png) top center no-repeat;
}

.section-title {
  color: #9490ff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.middle-section .work-title {
  font-size: 40px;
  list-style: 52px;
  padding-bottom: 30px;
}

.middle-section .line {
  width: 100%;
}

.middle-section .work-content {
  padding-top: 10px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.middle-section .work-content .work-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.middle-section .work-content .work-card img {
  width: 100%;
  padding: 20px 0 20px 0;
}

.middle-section .work-content .work-card .card {
  color: #fff;
}

.middle-section .work-content .work-card .card h4 {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 500;
  padding: 20px 20px 20px 0;
}

.section-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #cacad1;
}

.middle-section .work-content .work-card .card-text {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 10px;
}

.middle-section .work-content .work-card .cart-link {
  padding-top: 20px;
  margin-bottom: 20px;
  float : left;
}

.middle-section .work-content .work-card .cart-link ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.middle-section .work-content .work-card .cart-link ul li {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  border-right: 1px solid #555;
  padding: 8px 0;
}

.middle-section .work-content .work-card .cart-link ul li:last-child {
  border: none;
}

.middle-section .work-content .work-card .cart-link ul li a {
  margin-right: 20px;
}

.btn {
  background: #7d73fc;
  color: #fff;
  border: none;
  width: 100px;
  height: 50px;
  margin-bottom: 15px;
  cursor: pointer;
}

.btn:hover {
  background: #7a71f7;
}

.btn:focus {
  background: #5e42d7;
}

.btn:active {
  background: #7d73fc;
}

.btn:disabled {
  background: #2a2b33;
}

.middle-section .work-content .work-card .btn span {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 24px;
}

.contact-section {
  margin-top: 20px;
}

.contact-section .contact-title {
  text-align: center;
  font-size: 32px;
  line-height: 44px;
}

.contact-section .contact-text {
  text-align: center;
}

.contact-section .contact-text p {
  padding: 20px;
}

.contact-section .contact-form {
  margin: 10px;
}

.contact-section .contact-form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin: auto;
}

.contact-section .contact-form form input {
  width: 90%;
  height: 48px;
}

.contact-section .contact-form form input[placeholder] {
  padding-left: 20px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #191765;
}

.contact-section .contact-form form textarea {
  width: 90%;
  padding: 20px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #81818c;
}
