@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: rgb(22, 23, 100);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.color1 {
  color: #fff;
}

.color2 {
  color: #9390ff;
}

section.popup {
  display: none;
  position: fixed;
  background-image: url(../images/Top_circles.png);
  background-color: rgba(25, 23, 101, 0.7);
  background-position: top center;
  background-repeat: no-repeat;
  backdrop-filter: blur(20px);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

section.popup .modal {
  position: absolute;
  transform: translate(-50%, -50%) scale(1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgb(255, 255, 255);
  width: 90%;
  height: 95vh;
  padding: 24px;
  top: 50%;
  left: 50%;
}

section.popup .modal .modal-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.portfolio .portfolio-head h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
}

section.popup .modal .modal-head h1 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.social i {
  color: #fff;
  font-size: 20px;
}

header .menu-icon i {
  font-size: 20px;
}

header .menu ul li i {
  font-size: 13px;
  color: #acb7c3;
}

section.portfolio .portfolio-link .work i {
  font-size: 20px;
  margin: 0 10px;
}

section.popup .modal .modal-head .close_btn {
  border: none;
  background: none;
}

section.popup .modal .modal-head .close_btn i {
  color: #fff;
  font-size: 25px;
}

section.popup .modal .modal-head .close_btn i:hover {
  color: rgb(137, 187, 235);
}

section.popup .modal .modal-content {
  margin-top: 24px;
  overflow: hidden;
  overflow-y: scroll;
}

section.popup .modal .modal-content::-webkit-scrollbar {
  display: none;
}

section.popup .modal .modal-content img {
  width: 100%;
}

section.popup .modal .modal-content .cont1 {
  margin: auto;
  padding-top: 10px;
}

section.portfolio .portfolio-infos p {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  padding: 10px;
  margin-bottom: 20px;
  color: #c8c8d4;
}

section.popup .modal .modal-content .cont1 p {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  line-height: 24px;
}

header .menu ul {
  position: absolute;
  text-align: left;
  line-height: 50px;
  font-size: 18px;
  margin: 10px 0;
  display: none;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  padding: 50px;
  background-color: rgba(25, 23, 101, 0.6);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

section.portfolio .portfolio-infos .techo ul {
  list-style: none;
}

header .menu ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.popup .modal .modal-content .cont1 ul {
  display: flex;
  justify-content: center;
  margin: 24px auto;
}

section.portfolio .portfolio-infos .techo ul li {
  color: #f5f5ff;
  line-height: 24px;
  font-size: 15px;
  font-weight: 400;
  padding: 3px 0;
}

section.popup .modal .modal-content .cont1 ul li {
  border-left: 1px solid #81818c;
  padding: 5px 8px;
}

section.about .card .card-detail .card-link ul li {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  border-right: 1px solid #555;
  padding: 8px 10px;
}

section.popup .modal .modal-content .cont1 ul li:last-child {
  border-right: 2px solid #81818c;
}

footer .footer-content p a {
  color: #fff;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

section.popup .modal .modal-content .cont1 ul li a {
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

section.popup .modal .modal-content .cont1 .modal-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  background: #3f36bb;
  color: #fff;
  border: none;
  width: 100px;
  height: 50px;
  margin-bottom: 15px;
  cursor: pointer;
}

.btn:hover {
  background: #7a71f7;
}

.btn:focus {
  background: #5e42d7;
}

.btn:active {
  background: #7d73fc;
}

.btn:disabled {
  background: #2a2b33;
}

section.popup .modal .modal-content .cont1 .modal-btn .btn {
  box-shadow: 2px 2px 2px rgba(206, 224, 236, 0.5);
  background-color: #7d73fc;
}

section.popup .modal .modal-content .cont1 .modal-btn .btn i {
  font-size: 15px;
}

header {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  padding: 30px 50px;
  line-height: 20px;
  background-color: rgba(25, 23, 101, 1);
}

header .brand {
  font-size: 18px;
}

header .menu-icon {
  top: 33px;
  right: 38px;
  position: absolute;
}

header .menu:hover {
  color: #acb7c3;
}

header .menu ul li.message {
  display: none;
}

.text-center {
  text-align: center;
}

section.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url(../images/Top_circles.png) top center no-repeat;
  font-family: "Roboto", sans-serif;
  margin-top: 80px;
}

section.portfolio .portfolio-head {
  margin-bottom: 20px;
}

section.about h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  text-transform: uppercase;
  padding-bottom: 10px;
}

section.portfolio .portfolio-head h2 {
  font-size: 32px;
  font-weight: 500;
  line-height: 44px;
  color: #edecff;
}

section.portfolio .portfolio-infos {
  padding: 10px;
}

.line {
  border: 1px solid #646369;
  width: 85%;
  margin: auto;
}

section.portfolio .portfolio-infos .techo {
  display: grid;
  grid-template: auto auto / auto auto;
  justify-content: center;
  gap: 40px;
  padding: 30px 0;
}

section.portfolio .portfolio-infos .techo h3 {
  color: #9490ff;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
}

section.portfolio .portfolio-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 21px;
  list-style: none;
  color: #fff;
  margin: 20px 10px;
}

section.portfolio .portfolio-link .work {
  color: #a2a3ae;
  font-size: 20px;
}

section.portfolio .portfolio-link .work-one {
  display: none;
}

section.about {
  background-image: url(../images/bg_about.png);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  width: 100%;
  margin: auto;
  padding: 20px;
}

section.about .line {
  width: 100%;
  margin: 20px auto;
}

section.about .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section.about .card .card-image img {
  width: 100%;
}

section.about .card .card-detail {
  color: #fff;
}

section.about .card .card-detail h3 {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 500;
  padding: 20px 20px 20px 0;
}

section.about .card .card-detail .card-link {
  padding-top: 20px;
  margin-bottom: 20px;
}

section.about .card .card-detail .card-link ul {
  display: flex;
  list-style: none;
}

section.about .card .card-detail .card-link ul li:last-child {
  border: none;
}

section.about .card .card-detail .card-link ul li a {
  color: #fff;
}

section.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.contact .contact-title1 {
  display: none;
}

section.contact .title {
  font-size: 32px;
  line-height: 44px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

section.contact .contact-text {
  padding: 20px;
  text-align: center;
}

section.contact .contact-form {
  width: 100%;
  padding: 0 20px;
}

section.contact .contact-form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

section.contact .contact-form form input {
  width: 100%;
  height: 48px;
}

section.contact .contact-form form input,
section.contact .contact-form form textarea {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #191765;
  padding: 20px;
}

section.contact .contact-form form textarea {
  width: 100%;
  height: 150px;
  padding: 20px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}

footer .foot-line {
  border: 1px solid #3a3837;
  width: 100%;
}

/* Media Query for Desktop vesion */

@media screen and (min-width: 768px) {
  section.popup {
    background-image: none;
  }

  section.portfolio .portfolio-head h1 {
    font-size: 90px;
    line-height: 105px;
  }

  section.popup .modal .modal-head h1 {
    font-size: 40px;
    line-height: 32px;
  }

  section.popup .modal .modal-content img {
    width: 100%;
    height: 300px;
  }

  section.contact .contact-text p {
    color: #cacad1;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
  }

  section.portfolio .portfolio-infos p {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 400;
    line-height: 32px;
    padding: 10px;
    color: #c8c8d4;
  }

  section.about .card .card-detail p {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #cacad1;
  }

  section.popup .modal .modal-content .cont1 p {
    width: 70%;
    margin: auto;
  }

  section.popup .modal .modal-content .cont1 .modal-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 70px;
  }

  header {
    position: static;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    line-height: 20px;
  }

  header .logo {
    font-size: 18px;
  }

  header .menu ul {
    position: static;
    display: flex;
    justify-content: space-between;
    gap: 32px;
    width: 100%;
    height: 0;
    text-align: left;
    font-size: 18px;
    margin: 10px 0;
    padding: 0;
  }

  header .menu .menu-icon,
  header .menu ul li i {
    display: none;
  }

  header .menu ul a {
    font-size: 15px;
  }

  header .menu ul li.message {
    display: block;
  }

  section.portfolio {
    background-image: url(../images/bg-port1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px 150px;
  }

  section.about h2 {
    font-size: 64px;
    line-height: 114px;
    font-weight: 700;
    text-transform: capitalize;
    padding: 0 50px;
  }

  section.portfolio .portfolio-head h2 {
    font-size: 40px;
    font-weight: 500;
    line-height: 47px;
    color: #edecff;
  }

  section.portfolio .portfolio-infos .techo {
    display: grid;
    grid-template: auto / auto auto auto;
    justify-content: center;
    gap: 60px;
  }

  section.portfolio .portfolio-infos .techo h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
  }

  section.portfolio .portfolio-infos .techo ul li {
    line-height: 26px;
    font-size: 14px;
    font-weight: 400;
    padding: 5px 0;
  }

  section.portfolio .portfolio-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 40px;
  }

  section.portfolio .portfolio-link .work-one {
    display: block;
  }

  section.about .line {
    width: 90%;
  }

  section.about .card {
    display: grid;
    grid-template: auto/ 50% 50%;
    padding: 40px 0;
    width: 90%;
    margin: auto;
    height: 500px;
    gap: 20px;
  }

  section.about .card .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  section.about .pair .card-detail {
    grid-row-end: 1;
  }

  section.about .card .card-detail h3 {
    font-size: 40px;
    line-height: 52px;
    font-weight: 500;
    padding: 20px 0 20px 0;
  }

  section.contact {
    padding: 0 130px;
    width: 684px;
  }

  section.contact .contact-title1 {
    display: block;
  }

  section.contact .contact-title2 {
    display: none;
  }

  section.contact .title {
    font-size: 40px;
    line-height: 24px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
  }

  section.contact .contact-text {
    padding: 40px;
    text-align: center;
  }

  section.contact .contact-form {
    margin: 20px 0;
  }

  footer .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
}
