@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: rgb(22, 23, 100);
}

header {
  text-align: center;
  color: #fff;
}

header nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 0 20px 0 20px;
  line-height: 16px;
}

header nav .brand {
  font-size: 18px;
  font-weight: 500;
}

header nav .menu {
  font-size: 25px;
}

header nav .menu:hover {
  color: rgb(124, 115, 251);
}

section {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  min-height: 90vh;
  background: url(../images/Top_circles.png) center no-repeat;
  text-align: center;
}

section h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  padding: 10px;
  color: #7d73fc;
}

section h2 {
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: 500;
  line-height: 44px;
  padding: 10px;
  color: #edecff;
}

section p {
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 400;
  line-height: 28px;
  padding: 10px;
  color: #c8c8d4;
}

section hr {
  margin: auto;
  width: 85%;
  border: 1px solid #646369;
}
